<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="list.css" />
    <link rel="stylesheet" href="../navBar/navBar.css" />
    <script src="../navBar/navBar.js" type="module" defer></script>
    <script src="list.js" type="module" defer></script>
  </head>
  <body>
    <div class="container">
      <!-- 카테고리 콤보박스-->
      <div class="select-box">
        <select class="select category-box">
          <option value="all" selected>전체도서</option>
        </select>
        <select class="select sort-box">
          <option value="latest" selected>최신등록순</option>
          <option value="expensive">가격 높은순</option>
          <option value="cheap">가격 낮은순</option>
        </select>
      </div>
      <!-- 카테고리별 도서 목록-->
      <div class="list-container"></div>
      <!-- pagination 버튼 -->
      <div class="pagination-conatiner">
        <div>
          <a
            class="pagination-previous is-disabled"
            title="This is the first page"
            ><</a
          >
        </div>
        <div class="pagination-list-container">
          <ul class="pagination-list"></ul>
        </div>
        <div>
          <a class="pagination-next">></a>
        </div>
      </div>
    </div>
  </body>
</html>
