div {
    padding-top: 10px;
    align-items: center;
}

footer {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container #greeting {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #6667AB;
    text-align: center;
}


/*
id=main -> Change it into a grid.
Align the grid items at the center.
*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    font-family: "nanum gothic", sans-serif;
    font-size: 17px;
    font-weight: bold;
}
#name {
    padding-bottom: 10px;
}

#nameInput {
    min-width: 480px;
    max-width: 960px;
    height: 30px;
}

#email {
    padding-bottom: 10px;
}

#emailInput {
    min-width: 480px;
    max-width: 960px;
    height: 30px;
}

#password {
    padding-bottom: 10px;
}

#passwordInput {
    min-width: 480px;
    max-width: 960px;
    height: 30px;
}

#passwordCheck {
    padding-bottom: 10px;
}

#passwordCheckInput {
    min-width: 480px;
    max-width: 960px;
    height: 30px;
}

#submitBtn {
    min-width: 488px;
    max-width: 960px;
    height: 40px;
    font-size: 17px;
    background-color: #6667AB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
