@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}

.navbar {
  background-color: #6667ab;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  font-family: 'Dongle', sans-serif;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container:hover {
  cursor: pointer;
}

.logo-img {
  width: 70px;
}

.navbar-logo {
  line-height: 60px;
  font-size: 50px;
  color: whitesmoke;
}

.navbar-logo:hover {
  color: whitesmoke;
}

.navbar-user > li:not(:last-child) {
  padding-right: 30px;
}

.navbar-menu > li {
  padding: 0 20px;
  line-height: 60px;
  font-size: 40px;
}

.navbar-menu > li:not(:last-child) {
  border-right: 1px solid #8687cc;
}

.navbar-user {
  font-size: 40px;
}
