body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}

.navbar {
  background-color: #6667ab;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar-logo {
  line-height: 60px;
  font-size: 22px;
  font-weight: bold;
  color: whitesmoke;
  cursor: pointer;
}

.navbar-user > li:not(:last-child) {
  padding-right: 20px;
}

.navbar-menu > li {
  padding: 0 20px;
  line-height: 60px;
}

.navbar-menu > li:not(:last-child) {
  border-right: 1px solid #8687cc;
}
