<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="adminBookDetail.css" />
    <script src="adminBookDetail.js" type="module" defer></script>
    <link rel="stylesheet" href="../navBar/navBar.css" />
    <script src="../navBar/adminNavBar.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <!-- 책 정보 -->
    <div class="container">
      <div class="book-container"></div>
      <div class="btn-container">
        <div class="add-cart btn">제품 수정</div>
        <div class="buy btn">제품 삭제</div>
      </div>
    </div>
  </body>
</html>
