body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}

.navbar {
  background-color: #6667ab;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar-logo {
  line-height: 60px;
  font-size: 22px;
  font-weight: bold;
  color: whitesmoke;
  cursor: pointer;
}

.navbar-user > li:not(:last-child) {
  padding-right: 20px;
}

.navbar-menu > li {
  padding: 0 20px;
}

.navbar-menu > li:not(:last-child) {
  border-right: 1px solid #8687cc;
}

.main-container {
  width: 960px;
  height: 450px;
  margin: 50px auto;
  position: relative;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.new-books-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 50px;
  padding: 50px;
  box-shadow: 0.5px 0.5px 6px 0px #0000003b;
}

.book-container {
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.book-img {
  width: 150px;
  height: 225px;
  object-fit: cover;
  box-shadow: 1px 1px 8px 0px #00000096;
}
