<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>카트</title>
        <!-- 아이콘 -->
        <link
          rel="icon"
          type="image/png"
          sizes="16x16"
          href="/elice-rabbit-favicon.png"
        />
        <!-- bulma css -->
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
        />
        <!-- 폰트 어썸: 아이콘 -->
        <script
          defer
          src="https://kit.fontawesome.com/7630448495.js"
          crossorigin="anonymous"
        ></script>
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="order.css" />
        <script src="order.js" type="module" defer></script>
      </head>

<body>
    <!-- navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container mt-3">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="../elice-rabbit.png" width="30" height="30" />
              <span class="has-text-link">카트</span>
            </a>
  
            <a
              role="button"
              class="navbar-burger"
              aria-label="menu"
              aria-expanded="false"
              data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
  
            <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
              <ul id="navbar">
                <li><a href="/login">로그인</a></li>
                <li><a href="/register">회원가입</a></li>
                <li>
                  <a href="#cart" aria-current="page">
                    <span class="icon">
                      <i class="fas fa-cart-shopping"></i>
                    </span>
                    <span>쇼핑몰</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </nav>
    <!-- 장바구니 페이지-->
     <section>
        <div class = "container">
            <!-- header 현재 페이지-->
            <div class = "header">
                <div>
                    <p class = is-size-7>장바구니&nbsp; &gt; &nbsp;</p>
                </div>
                <div class = cartTitle>
                    <p class="title is-4 is-spaced">주문결제</p>
                </div>
                <div>
                    <p class = is-size-7>&nbsp; &gt; &nbsp;주문완료</p>
                </div>
            </div>
            <div class="buy">
                <!-- 배송지정보 박스 -->
                <div class = "box formBox">
                    <form action="" method = "post">
                        <p class = "subtitle is-5">배송지정보</p>
                        <div class = "inputBox">
                            <div class = "fieldLabel">
                                <label for="receiverName">이름</label>
                            </div>
                            <div class = "fieldForm">
                                <input class="input" type="text" id="receiverName" placeholder="받는분 이름을 입력해주세요.">
                            </div>
                        </div>
                        <div class = "inputBox">
                            <div class = "fieldLabel">
                                <label for="receiverPhoneNuber">연락처</label>
                            </div>
                            <div class = "fieldForm">
                                <input class="input" type="text" id="receiverPhoneNumber" placeholder="-없이 입력해주세요.">
                            </div>
                        </div>
                        <div class = "inputBox">
                            <div class = "fieldLabel">
                                <label for="receiverAddress1">주소1</label>
                            </div>
                            
                            <div class = "fieldForm addressInputBox">
                                <input class="input" type="text" id="receiverAddress1">
                                <div class = "find">
                                    <button class = "findButton">주소찾기</button>
                                </div>
                            </div>
                            
                        </div>
                        <div class = "inputBox">
                            <div class = "fieldLabel">
                                <label for="receiverAddress2">주소2</label>
                            </div>
                            <div class = "fieldForm">
                                <input class="input" type="text" id="receiverAddress2">
                            </div>
                        </div>
                        <div class = "inputBox">
                            <div class = "fieldLabel">
                                <label for="receiverPostalCode">우편번호</label>
                            </div>
                            <div class = "fieldForm">
                                <input class="input" type="text" id="receiverPostalCode">
                            </div>
                        </div>
                        <div class = "inputBox">
                            <div class = "fieldLabel">
                                <label for="receiverName">요청사항</label>
                            </div>
                            <div class = "fieldForm">
                                <input class="input" type="text" id="receiverRequest" placeholder="최대 50자 입력이 가능합니다..">
                            </div>
                        </div>
                                              
                    </form>
                </div>
                <!-- 결제정보 -->
                <div class="orderSummaryContainer">
                    <div class = "box orderSummary">
                        <div class = "header">
                             <p>결제정보</p>
                        </div>
                        <div class = "orderInfo">
                            <div class = "info">
                                <p>상품수</p>
                                <p id="orderCount"></p>
                            </div>
                            <div class = "info">
                                <p>상품금액</p>
                                <p id="price"></p>
                            </div>
                            <div class = "info">
                                <p>배송비</p>
                                <p>3000원</p>
                            </div>
                        </div>
                        <div class = "total">
                            <p>총 결제금액</p>
                            <p id="total-price">22,000원</p>
                        </div>
                        <div class = "purchase">
                            <button id = "purchaseButton">구매하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>
</body>
</html>
