body {
  color: #4a4a4a;
}

section {
  padding: 3rem, 1.5rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 960px;
  margin: 50px auto;
}
/* 장바구니 ( 담은 품목들) */
.header,
.cartProductsHeader {
  display: flex;
  justify-content: left;
  align-items: baseline;
  margin-bottom: 2rem;
  border-bottom: 1px solid #dbdbdb;
  padding: 0.5rem;
  width: 100%;
}

.cartTitle {
  padding: 1rem 0 0 0;
}

.buy {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

/* 배송지정보 박스 */
.formBox {
  width: 100%;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  margin: 0.4rem 0 0.4rem 0;
  padding: 0 0.5rem 0 0.5rem;
}

.fieldLabel {
  display: flex;
  align-items: center;
  width: 15%;
  height: 3rem;
}

.fieldForm {
  display: flex;
  align-items: center;
  width: 80%;
  height: 3rem;
}

.addressInputBox {
  display: flex;
  justify-content: space-between;
}

#receiverAddress {
  width: 90%;
}

.find {
  display: flex;
  justify-content: right;
  width: 15%;
}

.findButton {
  background-color: #eee;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
  height: 2.5rem;
  border-radius: 4px;
  cursor: pointer;
}
/* 결제 정보 박스 */

.orderSummaryContainer {
  width: 100%;
  margin-bottom: 2rem;
}

.orderSummary {
  background-color: #efeffa;
  width: 100%;
}

.orderSummary > .header {
  border-color: #555;
  margin-bottom: 0rem;
  font-size: 1.5rem;
}

.orderInfo {
  border-bottom: 1px solid #555;
}

.orderInfo .info,
.total {
  display: flex;
  font-size: 1.1rem;
  justify-content: space-between;
  margin: 0.8rem 0 0.8rem 0;
  padding: 0 1rem 0 1rem;
  font-size: 1rem;
}
.total {
  font: 1rem bold;
}

.purchase {
  display: flex;
  justify-content: center;
}

#purchaseButton {
  width: 80%;
  background-color: #6a5acd;
  border-color: transparent;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 800;
  height: 3rem;
  border-radius: 8px;
  cursor: pointer;
}
