<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>카트</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="orderComplete.css" />
    <link rel="stylesheet" href="../navBar/navBar.css" />
    <script src="../navBar/navBar.js" type="module" defer></script>
    <script src="orderComplete.js" type="module" defer></script>
  </head>

  <body>
    <!-- 장바구니 페이지-->
    <section>
      <div class="container">
        <!-- header 현재 페이지-->
        <div class="header">
          <div>
            <p class="is-size-7">
              장바구니&nbsp; &gt; &nbsp;주문결제&nbsp; &gt; &nbsp;
            </p>
          </div>
          <div class="cartTitle">
            <p class="title is-4 is-spaced">주문완료</p>
          </div>
        </div>
        <div class="orderComplete">
          <!-- 배송지정보 박스 -->
          <div class="orderCompleteBox box">
            <div class="iconBox">
              <span class="icon">
                <i class="fa-solid fa-circle-check"></i>
              </span>
              <span>주문이 완료되었습니다!</span>
            </div>
            <div class="buttonBox">
              <button
                class="orderButton"
                id="orderListButton"
                onclick="location.href='/orderHistory'"
              >
                주문 내역 보기
              </button>
            </div>
            <div class="buttonBox">
              <button
                class="orderButton"
                id="continueButton"
                onclick="location.href = '/'"
              >
                쇼핑 계속하기
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
