body {
  margin: 0;
}

.book-container {
  width: 960px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.book-img {
  width: 400px;
  margin-right: 50px;
  box-shadow: 2px 2px 8px 0px;
}

.intro-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  width: 250px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6667ab;
  color: whitesmoke;
}
