<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="detail.css" />
    <script src="datail.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/elice-rabbit.png" width="30" height="30" />
            <span class="has-text-link">쇼핑-n팀</span>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

          <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
            <ul id="navbar">
              <li><a href="/login">로그인</a></li>
              <li><a href="/register">회원가입</a></li>
              <li>
                <a href="#cart" aria-current="page">
                  <span class="icon">
                    <i class="fas fa-cart-shopping"></i>
                  </span>
                  <span>카트</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- 책 정보 -->
    <div class="book-container">
        <img src="http://image.yes24.com/goods/109308932/XL" class="book-img" alt="세상의 마지막 기차역">
        <div class="book-info">
            <div>
                <p class="title">세상의 마지막 기차역</p>
                <p class="author">저자: 무라세 다케시</p>
                <p class="publisher">출판사: 모모</p>
                <p class="price">판매가: 12,600원</p>
            </div>
            <hr>
            <div class="book-introduction">
                <p class="intro-title">책 소개</p>
                <p class="intro-content">
                    “아직 못다 한 말이… 꼭 해야 할 말이 있어요…
        마지막으로 딱 한 번만 그 사람을 만나게 해주세요”
        열차 사고로 사랑하는 이를 순식간에 잃은 사람들
        그 절절한 그리움이 만들어낸 84일간의 기적 같은 이야기
        봄이 시작되는 3월, 급행열차 한 대가 탈선해 절벽 아래로 떨어졌다. 수많은 중상자를 낸 이 대형 사고 때문에 유가족은 순식간에 사랑하는 가족, 연인을 잃었다. 그렇게 두 달이 흘렀을까. 사람들 사이에서 이상한 소문이 돌기 시작하는데…. 역에서 가장 가까운 역인 ‘니시유이가하마 역’에 가면 유령이 나타나 사고가 일어난 그날의 열차에 오르도록 도와준다는 것. 단 유령이 제시한 네 가지 규칙을 반드시 지켜야만 한다. 그렇지 않으면 자신도 죽게 된다. 이를 알고도 유가족은 한 치의 망설임도 없이 역으로 향한다. 과연 유령 열차가 완전히 하늘로 올라가 사라지기 전, 사람들은 무사히 열차에 올라 사랑하는 이의 마지막을 함께할 수 있을까. 틱톡에 소개되어 일본 독자들 사이에서 크게 입소문이 난 화제작. 현실과 판타지를 넘나들며 단숨에 독자를 이야기의 세계로 빠져들게 하는 무라세 다케시의 소설로, 작가의 여러 작품 중 한국에 처음 소개되는 작품이다. 작가가 쓴 작품 중 단연코 손꼽히는 판타지 휴머니즘 소설.
                </p>
            </div>
            <div class="btn-container">
                <div class="add-cart btn">장바구니 추가</div>
                <div class="buy btn" onclick="location.href='/order'"">바로 구매</div>
            </div>
        </div>
    </div>
  </body>
</html>