<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>카트</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="cart.css" />
    <link rel="stylesheet" href="../navBar/navBar.css" />
    <script src="../navBar/navBar.js" type="module" defer></script>
    <script src="cart.js" type="module" defer></script>
  </head>

  <body>
    <!-- 장바구니 페이지-->
    <section>
      <div class="container">
        <!-- header 현재 페이지-->
        <div class="header">
          <div class="cartTitle">
            <p class="title is-4 is-spaced">장바구니</p>
          </div>
        </div>
        <div class="buy">
          <!-- 선택된 장바구니 제품 -->
          <div class="cartProducts">
            <div class="box cartProductContainer">
              <!-- 선택된 장바구니 제품 헤더  -->
              <div class="cartProductsHeader">
                <label class="delete-part">
                  <p class="help selecter selectAll">전체선택</p>
                </label>
                <label class="seperator">
                  <p class="help help-seperator">&nbsp;&nbsp;|&nbsp;&nbsp;</p>
                </label>
                <label class="delete-part">
                  <p class="help selecter selectDelete">선택삭제</p>
                </label>
              </div>
              <!-- 선택된 품목들, 추후 동적으로 할당 -->
              <div class="listContainer"></div>
            </div>
          </div>
          <!-- 결제정보 -->
          <div class="orderSummaryContainer">
            <div class="box orderSummary">
              <div class="header">
                <p>결제정보</p>
              </div>
              <div class="orderInfo">
                <div class="info">
                  <p>상품수</p>
                  <p id="bookCount">0</p>
                </div>
                <div class="info">
                  <p>상품금액</p>
                  <p id="bookPrice">0</p>
                </div>
                <div class="info">
                  <p>배송비</p>
                  <p>3000원</p>
                </div>
              </div>
              <div class="totalPrice">
                <p id="bookTotalPriceText">총 결제금액</p>
                <p id="bookTotalPrice">0</p>
              </div>
              <div class="purchase">
                <button id="purchaseButton">구매하기</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
